/*Grid Formatting for City Results Section*/
.head {
    grid-area: head;
}

.map {
    grid-area: map;
}

.stats {
    grid-area: stats;
}

.pie{
    grid-area: pie;
}

.left_bar {
    grid-area: left_bar;
}

.right_bar {
    grid-area: right_bar;
}



.grid-container {
    display: grid;
    grid-template-areas:
        'head head head'
        'map map stats'
        'pie left_bar right_bar';
    grid-gap: 0;
    padding: 10px;
    border: 3px solid rgb(65, 65, 65);
    border-radius: 8px;
    margin: 0 auto; 
    width: 86%;
    position: relative;
    background-color: whitesmoke;
}


.grid-container > div {
    text-align: left;
    padding: 0;
  }

.search_form{
    margin:0
}

.search_city input[type=text]{
    padding: 6px;
    border: none;
    width: 220px;
    font-size: 17px;
    border-radius: 5px;
    margin: 0;
    position: relative;

}

.search_city input[type=submit]{
    padding: 5px 15px;
    background: white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;

}

.results_title {
    display: block;
    margin:0;
}

h3.left_section_title {
    margin-top: 0;
    margin-left: 0;
}

h3.results_header {
    text-align: left;
    margin-top: 0;
    margin-left: 0;
}

div.pie_chart {
    width:100%;
    margin: 2%;
    margin-top: 0;
    position:relative;
}

div.bar_chart {
    width:100%;
    margin: 2%;
    position:relative;
}
